/* Show the payment processor logo on the right side of the screen */
#billing-payment-block {
  position: relative;
}

@media (min-width: 480px) {
  #billing-payment-block .crm-netbanx-billing-logo {
    position: absolute;
    right: 0;
    top: 0;
  }
}
